<div class="data-display" [class.collapsed]="!isExpanded">
  <div class="panel-header">
    <h2 class="gradient-text">{{ activeType ? dummyData[activeType].title : 'Explorer Data' }}</h2>
    <button class="toggle-btn" (click)="togglePanel()">
      <i class="fas" [class.fa-chevron-up]="isExpanded" [class.fa-chevron-down]="!isExpanded"></i>
    </button>
  </div>
  
  <div class="panel-content" [@panelState]="isExpanded ? 'expanded' : 'collapsed'" *ngIf="activeType">
    <div class="content-wrapper">
      {{ dummyData[activeType].content }}
    </div>
  </div>
</div> 